#________task_1________________________________________________________________________________
# 1 згенерувати квадрати значень від 0 до 100000 і записати у різні файли:
#     - значення кратні 3
#     - значення кратні 5
#     - парні числа
def nums__(num):
    nums = [i*i for i in range(100) if i%num==0]
    for element in nums:
        yield element


def saver(nums, multp_to):
    g = nums__(nums)
    with open(f"_multiple_{multp_to}_.txt", 'w') as f:
        for x in g:
            f.write(str((list(str(x)))))


def square_nums_gen():
    saver(3, '3')
    saver(5, '5')
    saver(2, '2')


square_nums_gen()

#________task_2________________________________________________________________________________
# 2. Hаписати генератор безпечних паролів. 
#    Згенерувати і записати 1000 паролів в файл
import random
import string


def saver_passwords():
    g = password__gen()
    with open("_passwords_.txt", 'w') as f:
        for x in g:
            f.write(str(list(x)))


def password__gen():
    combo = list(string.ascii_letters + string.digits + "--__")
    for i in range(1000):
        password = "".join(random.sample(combo, 8))
        yield password


saver_passwords()


#________task_3________________________________________________________________________________
# 3. написати власний генератор, який повертає значення як це робить range():
#    може приймати start, end, step і поверне відповідні згенеровані значення

start_ = int(input('type number, I should start wich: '))
end = int(input('type number, I should end wich: '))
step = int(input('type number, I should make step beetwen the numbers: '))


def generator_like_range(start_, end, step):
    if end > start_:
        while start_ < end:
            start_ = start_ + step
            print(start_)
    elif end < start_:
        while start_ > end:
            start_ = start_ - step
            print(start_)


generator_like_range(start_, end, step)


#________task_4________________________________________________________________________________
#  4. написати програму яка генерує одне рандомне число random_number від 0 до 100, а потім генерує рандомні
#     числа від 0 до 100 поки не вгадає random_number
import random

def start():
    random_number = random.randint(0, 100)
    print(f"player: - try to find {random_number} \nbot: - okay let's go!")
    generator(random_number)


def while_func(random_number):
    tries = 0
    while 1:
            tries = tries + 1
            try_to_find = random.randint(0, 100)
            print(try_to_find)
            if try_to_find != random_number:
                print("player: - incorrect, try again)")
                continue
            else:
                print('player: - you found it, congratulations!')
                print("________________________________")
                print(f'you needed {tries} tries')
                break


def generator(random_number):
    for i in range(1):
        while_func(random_number)
    
start()

